
<body>
<div id="wrap">
  <div class="header1">
    <div class="logo">
      <%= link_to(image_tag(''),  home_index_path) %>
    </div>
    <div id="menu">
      <ul>
        <li><%= link_to '首页', home_index_path %></li>
        <li><%= link_to '草莓时光', static_pages_about_path %></li>
        <li><%= link_to '草莓商城',  store_index_url %></li>
        <li><%= link_to '莓味佳肴',  recipe_blog_index_url %></li>
        <li class="selected"><%= link_to '特品草莓园',  static_pages_agencygarden_path %></li>
        <li><%= link_to '草莓故事',  static_pages_story_path %></li>
        <li><%= link_to '最新资讯',  static_pages_newslist_path %></li>
        <li><%= link_to '莓园联盟',  static_pages_alliance_garden_path %></li>
        <li><%= link_to '联系我们', static_pages_contact_path %></li>      </ul>
    </div>
  </div>


  <div class="center_content">
    <div class="left_content">

      <div class="title"><span class="title_icon"><%= image_tag('bullet1.gif') %></span>特品草莓园</div>


      <div class="feat_prod_box">

        <div class="prod_det_box1">
          <div class="box_top1"></div>
          <div class="box_center1">
            <div class="prod_title">精选合作莓园</div>
            <p class="details">
            <p>
              <%= image_tag('aboutST.jpg', :alt=>'MUZT团队的草莓时光', :title=>'', :class=>'right', :width => '150') %>
            <p>    这里出售纯正昌平有机草莓，全部是精细挑选的有机种植园产品，并且是在世界草莓博览会荣获荣誉之作。</p>
            <p>    为了让国内大部分地区的草莓粉品尝到世界顶尖草莓品种，我们遍访昌平有机草莓种植园，最终在芸芸众园中觅得三家最优秀的草莓种植园，从业经验都在20甚至30年以上，拥有国内最现代化生态种植技术水平的园区。草莓时光将与这些企业共同为莓粉打造精品草莓的网络直销平台。</p>

            <div class="clear"></div>
          </div>

          <div class="box_bottom1"></div>
        </div>
        <div class="clear"></div>
      </div>



      <div class="title"><span class="title_icon"><%= image_tag('bullet2.gif', :alt=>'', :title=>'') %></span>草莓时光合作莓园</div>

      <%= image_tag('agency/tianrun_03.jpg', :width => 400, :alt=>'获奖草莓推荐', :title=>'') %>
      <%= image_tag('agency/tianrun_05.jpg', :width => 400, :alt=>'获奖草莓推荐', :title=>'') %>



      <div class="new_products">

        <div class="new_prod_box">
          <%= link_to '万德庄园', static_pages_wandezhuangyuan_url %>
          <div class="new_prod_bg">
            <%= link_to(image_tag('suizu-112.jpg'), static_pages_wandezhuangyuan_url, :alt=>'万德庄园' , :title=>'' , :class=>'thumb', :border=>'0') %>
          </div>
        </div>

        <div class="new_prod_box">
          <%= link_to '天润园', static_pages_tianrunyuan_url %>
          <div class="new_prod_bg">
            <%= link_to(image_tag('suizu-112.jpg'), static_pages_tianrunyuan_url, :alt=>'天润园' , :title=>'' , :class=>'thumb', :border=>'0') %>
          </div>
        </div>

        <div class="new_prod_box">
          <%= link_to '万里草莓园', 'view/details.html' %>
          <div class="new_prod_bg">
            <%= link_to(image_tag('dianxue-112.jpg'), static_pages_wanliyuan_url, :alt=>'万里草莓园' , :title=>'' , :class=>'thumb', :border=>'0') %>
          </div>
        </div>
      </div>

      <div class="clear"></div>

    </div><!--end of left content-->



    <div class="right_content">

      <%= render 'layouts/right_down_form' %>


    </div><!--end of right content-->


    <div class="clear"></div>
  </div><!--end of center content-->



</div>

</body>