
<body>
<div id="wrap">
  <div class="header1">
    <div class="logo">
      <%= link_to(image_tag(''),  home_index_path) %>
    </div>
    <div id="menu">
      <ul>
        <li><%= link_to '首页', home_index_path %></li>
        <li><%= link_to '草莓时光', static_pages_about_path %></li>
        <li><%= link_to '草莓商城',  store_index_url %></li>
        <li><%= link_to '莓味佳肴',  recipe_blog_index_url %></li>
        <li><%= link_to '特品草莓园',  static_pages_agencygarden_path %></li>
        <li class="selected"><%= link_to '草莓故事',  static_pages_story_path %></li>
        <li><%= link_to '最新资讯',  static_pages_newslist_path %></li>
        <li><%= link_to '莓园联盟',  static_pages_alliance_garden_path %></li>
        <li><%= link_to '联系我们', static_pages_contact_path %></li>      </ul>
    </div>
  </div>


  <div class="center_content">
    <div class="left_content">

      <div class="title"><span class="title_icon"><%= image_tag('bullet1.gif') %></span>草莓故事</div>


      <div class="feat_prod_box">
        <div class="prod_det_box2">
          <div class="box_top2"></div>
          <div class="box_center2">
            <p class="details">草莓的甜美和浪漫，草莓在诉说着许多不为人知的故事。</p>
            <div class="clear"></div>
          </div>
          <p></p>


          <!--start of story list -->
          <% if notice %>
            <p id="notice"><%= notice %></p>
          <% end %>

          <div id="recipe_list">
            <% @stories.each do |story| %>
              <div class="recipe_blog_entry">
                <div>
                <%= link_to image_tag(story.image, width:200, hight:200), story, :url => {:controller => 'stories', :action => 'show', :target=>'_blank' } %>
                </div>
                <h3><%= story.title %></h3>
                <%= truncate(strip_tags(story.content), :length=>200) %>
                <div class="recipe_detail_line">
                  <%= link_to '浏览故事', story, :url => {:controller => 'stories', :action => 'show', :target=>'_blank' } %>
                </div>
              </div>
              <br/>
            <% end %>
            <br/>
            <%= paginate @stories, :left => 2, :right => 3 %>
          </div>
          <br>
          <!--end of story list -->

          <div class="box_bottom2"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div><!--end of left content-->



    <div class="right_content">


      <%= render 'layouts/right_down_form' %>


    </div><!--end of right content-->


    <div class="clear"></div>
  </div><!--end of center content-->



</div>

</body>