<div id="wrap">
  <div class="header1">
    <div class="logo">
      <%= link_to(image_tag(''),  home_index_path) %>
    </div>
    <div id="menu">
      <ul>
        <li class="selected"><%= link_to '首页', home_index_path %></li>
        <li><%= link_to '草莓时光', static_pages_about_path %></li>
        <li><%= link_to '草莓商城',  store_index_url %></li>
        <li><%= link_to '莓味佳肴',  recipe_blog_index_url %></li>
        <li><%= link_to '特品草莓园',  static_pages_agencygarden_path %></li>
        <li><%= link_to '草莓故事',  static_pages_story_path %></li>
        <li><%= link_to '最新资讯',  static_pages_newslist_path %></li>
        <li><%= link_to '莓园联盟',  static_pages_alliance_garden_path %></li>
        <li><%= link_to '联系我们', static_pages_contact_path %></li>      </ul>
    </div>
  </div>

  <div class="center_content">
    <div class="left_content">

      <div class="title"><span class="title_icon"><%= image_tag('bullet1.gif') %></span>注册并完善信息</div>

      <div class="feat_prod_box1">

        <div class="prod_det_box1">

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <div class="box_center1">

            <div class="authform">

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

                <div class="form-group">
                  <%= f.input :email, label: '电子邮件：', required: true, autofocus: true %>
                </div>
                <div class="form-group">
                  <%= f.input :password, label: '输入密码：', required: true %>
                </div>
                <div class="form-group">
                  <%= f.input :password_confirmation, label: '确认密码：', required: true %>
                </div>



                <h3>订单收货详细信息</h3>
                <div class="form-group">
                  <%= f.input :order_name, label: '收货人姓名：' %>
                </div>
                <div class="form-group">
                  <%= f.input :phone, label: '收货人电话：' %>
                </div>
                <div class="form-group">
                  <%= f.input :address, label: '收货人地址：' %>
                </div>
                <div class="form-group">
                  <%= f.input :pay_type, label: '付款的方式：' %>
                </div>
                <div class="form-group">
                  <%= @register_time = Time.now %>
                  <%= f.input :register_time, as: :hidden %>
                </div>

                <br/>
                <div class="form-actions">
                  <%= f.button :submit, '注册' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

          <div class="right_content">
            <%= render "devise/shared/links" %>
          </div><!--end of right content-->
    <div class="clear"></div>

  </div><!--end of center content-->


</div>