<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :故事名称 %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :故事内容 %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :故事配图 %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit '确 定' %>
  </div>
<% end %>
