<body>
<div id="wrap">
  <div class="header1">
    <div class="logo">
      <%= link_to(image_tag(''),  home_index_path) %>
    </div>
    <div id="menu">
      <ul>
        <li><%= link_to '首页', home_index_path %></li>
        <li><%= link_to '草莓时光', static_pages_about_path %></li>
        <li class="selected"><%= link_to '草莓商城',  store_index_url %></li>
        <li><%= link_to '莓味佳肴',  recipe_blog_index_url %></li>
        <li><%= link_to '特品草莓园',  static_pages_agencygarden_path %></li>
        <li><%= link_to '草莓故事',  static_pages_story_path %></li>
        <li><%= link_to '最新资讯',  static_pages_newslist_path %></li>
        <li><%= link_to '莓园联盟',  static_pages_alliance_garden_path %></li>
        <li><%= link_to '联系我们', static_pages_contact_path %></li>
      </ul>
    </div>
  </div>


  <div class="center_content">
    <div class="left_content">

      <div class="title"><span class="title_icon"><%= image_tag('bullet1.gif') %></span>草莓商城</div>


      <% @products.each do |product| %>
        <div class="feat_prod_box">
          <div class='prod_img'>
            <%= link_to image_tag(product.image_url), product, :url => {:controller => 'products', :action => 'show', :target=>'_blank' } %>
            <p class="details"><span class="price"><%= number_to_currency(product.price, unit: '￥') %> 元</span></p>

              <%= form_tag :line_items %>
              <%= number_field_tag( :quantity, @buy_quantity[product.id], :min=>'1' ) %>
              <%= hidden_field_tag(:product_id, product.id) %>
              <%= button_to '放入购物车' %>
            <% if @buy_quantity[:is_selected] %>
              <span> 您已选购 <%= @buy_quantity[product.id] %> 件此商品 </span>
            <% end %>


          </div>

          <div class="prod_det_box">
            <span class="special_icon"><%= image_tag('special_icon.gif') %></span>
            <div class="box_top"></div>
            <div class="box_center">
              <div class="prod_title"><%= product.title %></div>
              <p class="details"><%= sanitize(product.description) %></p>
              <%= link_to '-详细说明-', product, :class => 'more', :url => {:controller => 'products', :action => 'show' } %>
              <div class="clear"></div>
            </div>
            <div class="box_bottom"></div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>


    <br/>
    <%= paginate @products, :left => 2, :right => 3 %>


  </div><!--end of left content-->

    <%= render 'layouts/right_agencygarden_form' %>

    <div class="clear"></div>
  </div><!--end of center content-->

</div>
</body>
