<div class="right_content">


  <div class="title"><span class="title_icon"><%= image_tag('bullet3.gif', :alt=>'', :title=>'') %></span>时光特供</div>
<div class="about">
  <div>
  <%= image_tag('st_supply.jpg', :alt=>'MUZT团队的草莓时光', :title=>'', :class=>'right') %>
  </div>
  <div>
  <p>    这里出售纯正昌平有机草莓，全部是精细挑选的有机种植园产品，并且是在世界草莓博览会荣获荣誉之作。</p>
  <p>    为了让国内大部分地区的草莓粉品尝到世界顶尖草莓品种，我们遍访昌平有机草莓种植园，最终在芸芸众园中觅得三家最优秀的草莓种植园，从业经验都在20甚至30年以上，拥有国内最现代化生态种植技术水平的园区。草莓时光将与这些企业共同为莓粉打造精品草莓的网络直销平台。</p>

  </div>
</div>


  <div class="right_box">
    <%= image_tag('agency/tianrun_03.jpg', :width => 300, :alt=>'获奖草莓推荐', :title=>'') %>

    <div class="title1"><span class="title_icon"><%= image_tag('bullet4.gif', :alt=>'获奖草莓推荐', :title=>'') %></span>草莓时光优选合作莓园</div>
    <div>
      <div class="new_prod_box_horizontal">
          <a>万德庄园</a>
          <div class="new_prod_bg_horizontal">
            <%= link_to(image_tag('hongyan-112.jpg'), static_pages_wandezhuangyuan_url, :target=>'_blank', :alt=>'万德庄园', :title=>'', :class=>'thumb', :border=>'0' ) %>
          </div>
        </div>

      <div class="new_prod_box_horizontal">
        <a>天润园</a>
        <div class="new_prod_bg_horizontal">
          <%= link_to(image_tag('hongyan-112.jpg'), static_pages_tianrunyuan_url, :target=>'_blank', :alt=>'天润园', :title=>'', :class=>'thumb', :border=>'0' ) %>
        </div>
      </div>

      <div class="new_prod_box_horizontal">
        <a>万里草莓园</a>
        <div class="new_prod_bg_horizontal">
          <%= link_to(image_tag('hongyan-112.jpg'), static_pages_wanliyuan_url, :target=>'_blank', :alt=>'万里草莓园', :title=>'', :class=>'thumb', :border=>'0' ) %>
        </div>
      </div>
    </div>
  </div>

</div><!--end of right content-->
